body {
  margin: 0;
  background: linear-gradient(to right, #222831, #30475e);
}
p{
  margin: 0;
}
.imin{
  margin: 10% 0% 10% 0%;
}
.minS{
  height: 720px;
}
.apa{
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.imin{
  position: relative;
  width:100%;
}

.map {
  margin-top: 3%;
  height: 558px;
  position: relative;
}
.map-radio{
  margin: 5px;
  height: 558px;
  position: relative;
  
}

.titulo-mapa{
  font-size: 1.5em;
  text-align: center;
  margin:10px 0px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}
.titulo-mapa-radio{
  font-size: 1.5em;
  text-align: center;
  margin:0px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

.subtitulo{
  font-size: 1.4em;
  font-weight: bolder;
  text-align: center;
  color: #6696d1;
  margin: 0cm;
}

.alerta-verde{
  color: green;
  margin-top: 1px;
  margin-bottom: 5px;
}
.alerta-amarilla{
  color: #f8b24f;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alerta-naranja{
  color: #ec823a;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alerta-roja{
  color: #d32626;
  margin-top: 5px;
  margin-bottom: 5px;
}
.descr{
  font-size: .9em;
  color: hsl(228, 34%, 66%);
  text-align: justify;
}